.aboutimage {
    background-image: url('../../Components/Assets/road1.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 80px; 
    text-align: center;
    width: 113%; 
    height: 532px; 
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-left: 90px ; */
  }
  .aboutimage .centered {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
  }
  