html {
  scroll-behavior: smooth;
}

section{
  min-height: 80vh;
  padding: 4rem 6% 2rem;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}


.home-container {
  /* Background image */
  background-image: url('../../Components/Assets/Construction.jpeg');
  /* Set background size and position */
  background-size: cover; /* Use 'cover' to scale the background image to cover the entire container */
  background-position: center; /* Center the background image */
  /* Other styles */
  padding: 80px; /* Adjust padding as needed */
  text-align: center;
  width: 75%; /* Adjust width as needed */
  border-radius: 30px;
  height: 400px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 90px ;
}

.home-container .centered {
  /* Center the content vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  font-size: 85px;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #fff; /* Moved color property here for consistency */
}

.home-container p {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.btn1 {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #dddddd;
  margin-top: 20px;
  padding: 10px 30px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}
.btn1:hover {
  transition-delay: 0s, 1s;
  color: #fff;
  box-shadow:
      0 0 10px #7a7575,
      0 0 20px #7a7575,
      0 0 40px #7a7575,
      0 0 80px #7a7575,
      0 0 160px #7a7575;
}
.btn1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background: #696666;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}
.btn1:hover:before {
  width: 100%;
}

/* carousel */
.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}




.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
/* caurosel end */

.aboutus h2{
  font-size: 40px;
  position: relative; 
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1350px; 
  margin: 0 auto; /* Center the container horizontally */
}

.about-content{
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
}

.about-content .para{
  font-size: 16px;
  margin-top: 20px;
}

.about-content .para2{
  font-size: 39px;
  color: #295f4e;
  margin-top: 20px;
}

.about-content .btn button{
  position: relative;
    width: 140px;
    height: 45px;
    outline: none;
    /* border-radius: 75px; */
    border: 2px solid #626262;
    font-size: 17px;
    font-weight: bold;
    background: linear-gradient(57.4deg, rgb(249, 206, 183) 4.6%, rgb(234, 174, 202) 26%, rgb(210, 182, 226) 49.1%, rgb(173, 209, 242) 86.5%);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

.about-content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform-origin: left;
  transition: transform .5s ease;
  transform: scaleX(1);
}

.about-content button:hover::before {
  transform-origin: right;
  transition: transform .5s ease;
  transform: scaleX(0);
}

.about-image {
  flex: 1;
  background-image: url('../../Components/Assets/about.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  width: 650px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
}

.about-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(252, 251, 251, 1));
}

.stats{
  width: 100%;
  height: 90px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #dddddd;
  border-radius: 1.5rem;
  padding: 0 .6rem;
}

/* .stat:before {
  content: '';
  display: block;
  width: 55px; 
  height: 55px; 
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -70px; 
  top: 50%; 
  transform: translateY(-50%); 
  margin-top: -5px;
} */

.stats .stat {
  position: relative;
  margin-top: 20px;
  margin-left: 110px;
}

.stat > .icon {
  position: absolute;
  left: -65px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 38px;
  color: #044a42;
}


.stat:last-child {
  margin-right: 0;
  /* margin-left: -.2rem; */
}


.stat>:nth-child(1)
{
  font-size: 2rem;
  
}

.stat>:nth-child(1)>:last-child{
  color: #044a42;
}

.stat>:nth-child(2)
{
  font-size: 2rem;
  
}

.stat>:nth-child(2)>:last-child{
  color: #044a42;
}

.services {
  margin-top: 2px;
}

.services h2 {
  font-size: 40px;
  position: relative; 
}

.services-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /* margin-left: 80px; */
}

.services-box {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  background-color: white;
  width: 320px;
  height: 320px;
  /* border-radius: 50%; */
  border: 2.5px solid #975a5e;
  margin-top: 20px;
}

.services-box img{
  width: 260px;
  height: 180px;
  border-radius: 9px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.services-box h3{
  font-size: 1.5rem;
  color: #34495e;
  margin-top: 10px;
}

.services-box p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: -10px;
}

/* .services-box + .services-box {
  margin-top: 20px;
} */

/* .services-box:hover img {
  transform: scale(1.1);
} */

.services-box .services-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), #453953);
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  text-align: center;
  /* padding: 0 4rem; */
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.services-box:hover .services-layer {
  transform: translateY(0);
}

.services-layer h4{
  font-size: 1.7rem;
  color: white;
}

.services-layer p{
  font-size: .8rem;
  margin: .3rem 0 1rem;
  color: white;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.services-layer .btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 50%;
  position: relative;
  outline: none;
  border: 2px solid #044a42;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.services-layer .btn span{
  font-size: 1.6rem;
  color: #044a42;
}

.heading-with-line {
  position: relative; 
}

.heading-with-line::after {
  content: ' ';
  position: absolute;
  left: 15%; 
  bottom: -10px; 
  width: 800px; 
  height: 2px; 
  background-color: rgba(15, 15, 15); 
  /* transform: translateX(-50%);  */
}


.menu-item {
  color: inherit;
  text-decoration: inherit;
}

.testimonials h2{
  font-size: 40px;
  position: relative; 
}

.testimonials-card  {
  height: 550px;
  /* width: 800px; */
  background-color: #f2ead3;
}

.testimonials-card h1 {
    font-size: 30px;
    padding-top: 1rem;
    margin-left: 20px;
    color: #ea9215;
}

.testimonials span{
  font-weight: 700;
  text-transform: uppercase;
  color: #303841;
}



