html {
  scroll-behavior: smooth;
}

section{
  min-height: 80vh;
  padding: 4rem 6% 2rem;
}


.home-container {
  /* Background image */
  background-image: url('../../Components/Assets/Construction.jpeg');
  /* Set background size and position */
  background-size: cover; /* Use 'cover' to scale the background image to cover the entire container */
  background-position: center; /* Center the background image */
  /* Other styles */
  padding: 80px; /* Adjust padding as needed */
  text-align: center;
  width: 75%; /* Adjust width as needed */
  border-radius: 30px;
  height: 400px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 90px ;
}

.home-container .centered {
  /* Center the content vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  font-size: 85px;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #fff; /* Moved color property here for consistency */
}

.home-container p {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.home-container button {
  padding: 10px 20px;
  font-size: 30px;
  background-color: #b7aeae;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 75px;
}

.home-container button:hover {
  background-color: #0056b3;
}

.aboutus h2{
  font-size: 40px;
  position: relative; 
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1350px; 
  margin: 0 auto; /* Center the container horizontally */
}

.about-content{
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
}

.about-content .para{
  font-size: 16px;
  margin-top: 20px;
}

.about-content .para2{
  font-size: 39px;
  color: #295f4e;
  margin-top: 20px;
}

.about-content .btn button{
  position: relative;
    width: 140px;
    height: 45px;
    outline: none;
    /* border-radius: 75px; */
    border: 2px solid #626262;
    font-size: 17px;
    font-weight: bold;
    background:  #c3bef0;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 1;
}

.about-content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transform-origin: left;
  transition: transform .5s ease;
  transform: scaleX(1);
}

.about-content button:hover::before {
  transform-origin: right;
  transition: transform .5s ease;
  transform: scaleX(0);
}

.about-image {
  flex: 1;
  background-image: url('../../Components/Assets/about.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  width: 650px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
}

.about-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(252, 251, 251, 1));
}

.stats{
  width: 100%;
  height: 90px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #dddddd;
  border-radius: 1.5rem;
  padding: 0 .6rem;
}

/* .stat:before {
  content: '';
  display: block;
  width: 55px; 
  height: 55px; 
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -70px; 
  top: 50%; 
  transform: translateY(-50%); 
  margin-top: -5px;
} */

.stats .stat {
  position: relative;
  margin-top: 20px;
  margin-left: 110px;
}

.stat > .icon {
  position: absolute;
  left: -65px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 38px;
  color: #044a42;
}


.stat:last-child {
  margin-right: 0;
  /* margin-left: -.2rem; */
}


.stat>:nth-child(1)
{
  font-size: 2rem;
  
}

.stat>:nth-child(1)>:last-child{
  color: #044a42;
}

.stat>:nth-child(2)
{
  font-size: 2rem;
  
}

.stat>:nth-child(2)>:last-child{
  color: #044a42;
}

.services {
  margin-top: 2px;
}

.services h2 {
  font-size: 40px;
  position: relative; 
}

.services-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /* margin-left: 80px; */
}

.services-box {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  background-color: #dddddd;
  width: 350px;
  height: 230px;
  /* border-radius: 50%; */
  border: 3px solid #ccc;
  margin-top: 20px;
}

.services-box img{
  width: 240px;
  height: 135px;
  border-radius: 9px;
  /* margin-bottom: 10px; */
  margin-top: 30px;

}

.services-box h3{
  font-size: 1.4rem;
  color: #34495e;
  margin-top: 10px;
}

/* .services-box + .services-box {
  margin-top: 20px;
} */

.services-box:hover img {
  transform: scale(1.1);
}

.services-box .services-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), #260c1a);
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  text-align: center;
  /* padding: 0 4rem; */
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.services-box:hover .services-layer {
  transform: translateY(0);
}

.services-layer h4{
  font-size: 1.3rem;
  color: black;
}

.services-layer p{
  font-size: .8rem;
  margin: .3rem 0 1rem;
  color: white;
}

.services-layer .btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 50%;
  position: relative;
  outline: none;
  border: 2px solid white;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.services-layer .btn span{
  font-size: 1.6rem;
  color: #044a42;
}


.heading-with-line {
  position: relative; 
}

.heading-with-line::after {
  content: ' ';
  position: absolute;
  left: 15%; 
  bottom: -10px; 
  width: 800px; 
  height: 2px; 
  background-color: rgba(15, 15, 15); 
  /* transform: translateX(-50%);  */
}


.menu-item {
  color: inherit;
  text-decoration: inherit;
}
.testimonials h2{
  font-size: 40px;
  position: relative; 
}
