.contactcontent {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 1518px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #dde0ab;
    flex: 1;
  }
  
  .contactimage {
    max-width: 50%;
    position: relative; 
  }
    
  .contactimage img {
    width: 800px;
    height: 600px;
    /* object-fit: cover; */
  }
  
  .contactcontent .contactimage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  }
  
  .contactcontent .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the text color to white for better visibility */
    text-align: center;
    z-index: 1;
    width: 90%;
  }
  
  .content .paragraph h3 {
    font-size: 45px;
    margin-bottom: 8px;
  } 
  
  .content .paragraph p {
    font-size: 15px;
    color: darkgray;
    margin-bottom: 70px;
  }
  
  .content .information {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-left: 60px;
  }
  
  .content .information .info {
    margin-bottom: 10px;
    display: flex;
    align-items: start; 
    /* justify-content: space-between;  */
  }
  
  .content .information .icon span{
    display: inline-block;
    font-size: 45px;
    /* width: 50px;
    height: 50px; */
    color: #f0d43a;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  .content .information .name {
    display: inline-block;
    vertical-align: middle;
  }
  
  .contact-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    display: flex;
  }
    
  form {
    padding: 20px;  
    align-items: center;
    margin-bottom: 40px;
    width: 600px;
  }
    
    /* Form input fields */
  form div {
    margin-bottom: 15px;
  }
  input[type="text"],
  input[type="email"],
  input[type="company"],
  input[type="date"],
  textarea,select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #eeeeee;
  }
    
  textarea {
    height: 120px;
    background-color: #eeeeee;
  }
    
    /* Submit button */
  button[type="submit"] {
    background-color: #6db193;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%; /* Adjust width as needed */
    margin-left: 240px;
  }
    
  button[type="submit"]:hover {
    background-color: #295f4e;
  }
    
  h2{
    font-size: xx-large;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .success-message {
    background-color: #dff0d8; /* Light green background color */
    color: #3c763d; /* Dark green text color */
    border: 1px solid #d6e9c6; /* Border color */
    padding: 10px; /* Padding around the message */
    margin-top: 10px; /* Spacing from the form */
    border-radius: 5px; /* Rounded corners */
  }
  
  